#info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5vw;
  background: rgb(53,53,69);
  background: linear-gradient(120deg, rgba(34,34,34,1) 33%, rgba(53,53,69,1) 100%);
}

#info h2 {
  font-size: 46px;
  color: #20b2f5;
}

#info p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}

#info a {
  background-color: #1788bd;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 30px;
  transition: all .2s;
  filter: brightness(.9);
}

#info a:hover {
  filter: brightness(1.1);
}

#sobre {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20vw;
  background: rgb(34,34,34);
  background: linear-gradient(120deg, rgba(53,53,69,1) 33%, rgba(34,34,34,1) 100%);
}

#sobre h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #1788bd;
  padding-bottom: 5px;
  color: #1788bd;
}

#sobre p {
  text-align: justify;
  text-indent: 50px;
  color: #eee;
  margin-bottom: 10px;
}

#sobre strong {
  color: #fff;
  margin-bottom: 10px;
}

#sobre li {
  color: #eee;
  text-align: justify;
  padding: 2.5px 0;
}

#sobre span {
  color: #fff;
  margin-top: 5px;
  font-size: 18px;
}

#sobre a {
  color: #20b2f5;
  text-decoration: none;
}

#sobre a:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  #sobre {
    padding: 20px 10vw;
  }
}